In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.isnull().values.any()

True

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.replace(['S', 'C', 'Q', np.nan], [1, 2, 3, 0], inplace=True)

In [5]:
df.replace(['male', 'female'], [1, 2], inplace=True)

In [6]:
df = df.drop(df.columns[[0, 1, 3]], axis=1)

In [7]:
df.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [8]:
df.isnull().values.any()

False